.skills-section{
    padding-top: 20px;
    }
    
    .skills-header{
    text-align: center;
    color: #E06721;
    padding: 1rem;
    position: relative;
    font-size:150%;
    margin-bottom:50px;
    }

    
    .skills-header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #07C2A9;
    border-radius: 2px;
    }
    
    .skills-container{
    display: grid;
    grid-tempLate-columns: repeat(5, 1fr);
    justify-content:center;
    align-items:center;
    text-align: center;
    grid-gap:1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    }

    .skills-box{
    padding: 1rem;
    }




    .skills-title{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    }
    
   
    
    .skills-icons{
    width:100%;
    z-index:2;
    }
    
    .skills-img{
    height:100px;
    width:100px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: .5s;
    }
    

    .skills-title h3{
    color: #333;
    margin-top: 35px;
    font-size:140%;
    }
    @media screen and (max-width:990px){
     .skills-container{
     grid-tempLate-columns: repeat(2, 1fr);
     padding: 2rem 50px;
     }
    }
    
    @media screen and (max-width:650px){
     .skills-container{
     grid-tempLate-columns:2fr;
     padding: 2rem 50px;
     }
    }